.navbar-brand {
  height: 60px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.nav-link {
  color: black;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-style: normal;
}

.nav-link:hover,
h4,
.dishes h4 {
  color: #CC0000;
}

header {
  background-image: url('top.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Maitree", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Maitree", serif;
  font-weight: 500;
  font-style: normal;
}

.card,
.card img,
.form-control,
.btn {
  border-radius: 0;
}

.card img {
  height: 300px;
  object-fit: cover;
}

.btn-primary {
  background-color: #CC0000;
  border-color: #CC0000;
}

.btn-primary:hover {
  background-color: #990000;
  border-color: #990000;
}